@layout MainLayout
@page "/myProfile"
@attribute [Authorize]
@using System.Text.RegularExpressions


<PageTitle>My profile</PageTitle>

<RadzenColumn Style="display: grid; align-content: center; height: 100vh; width: 250px; margin: auto;">

    @if (errorVisibility)
    {
        <RadzenText Text="@message"
                    Style="margin: auto; width: 200px; text-align: center; color: red; background-color: rgba(255, 211, 211, 100); border: 2px solid #ff0000; margin-bottom: 10px" />
    }

    @if (successVisibility)
    {
        <RadzenText Text="@message"
                    Style="margin: auto; width: 200px; text-align: center; color: #00b600; background-color: #bcffbb; border: 2px solid #00b600; margin-bottom: 10px" />
    }

    <RadzenText Text="EMAIL" class="rz-text" Style="margin: auto; width: 200px; text-align: left" />
    <RadzenTextBox Style="margin: auto; margin-top: 5px; margin-bottom: 10px; width: 200px" @bind-Value="user.Email" Disabled="true" />

    <RadzenText Text="NAME" class="rz-text" Style="margin: auto; width: 200px; text-align: left" />
    <RadzenTextBox Style="margin: auto; margin-top: 5px; margin-bottom: 10px; width: 200px" @bind-Value="user.Name" Disabled="@nonEditMode" />

    <RadzenText Text="SURNAME" class="rz-text" Style="margin: auto; width: 200px; text-align: left" />
    <RadzenTextBox Style="margin: auto; margin-top: 5px; margin-bottom: 10px; width: 200px" @bind-Value="user.Surname" Disabled="@nonEditMode" />

    <RadzenText Text="PHONE NUMBER" class="rz-text" Style="margin: auto; width: 200px; text-align: left" />
    <RadzenTextBox Style="margin: auto; margin-top: 5px; margin-bottom: 10px; width: 200px" @bind-Value="user.PhoneNumber" Disabled="@nonEditMode" />

    <RadzenText Text="AVERAGE RATING" class="rz-text" Style="margin: auto; width: 200px; text-align: left" />
    <RadzenTextBox Style="margin: auto; margin-top: 5px; margin-bottom: 10px; width: 200px" @bind-Value="averageRating" Disabled="true" />

    @if (nonEditMode)
    {
        <RadzenButton Text="EDIT" Click="@editMode" ButtonType="ButtonType.Button" class="rz-button" Style="width: 150px; display: flex; margin: auto; height: 30px; margin-top: 10px; text-align: center" />
    }

    @if (!nonEditMode)
    {
        <RadzenButton Text="SAVE" Click="@editUserData" ButtonType="ButtonType.Button" class="rz-button" Style="width: 150px; display: flex; margin: auto; height: 30px; margin-top: 10px; text-align: center" />
    }

    <RadzenButton Text="DELETE ACCOUNT" Click="@deleteUser" ButtonType="ButtonType.Button" class="rz-button" Style="width: 150px; display: flex; margin: auto; height: 30px; margin-top: 10px; text-align: center; background-color: rgb(217,84,79) !important;" />

</RadzenColumn>


@code {
    private UserProfile user = new UserProfile();
    private string averageRating = "";
    private bool nonEditMode = true;

    private string message = "";
    private bool errorVisibility = false;
    private bool successVisibility = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadUserData();
            StateHasChanged();
        }
    }

    private async Task LoadUserData()
    {
        try
        {
            var storageToken = await JS.InvokeAsync<string>("sessionStorage.getItem", "authToken");
            if (string.IsNullOrEmpty(storageToken)) return;

            var response = await Client.GetUserProfile(storageToken);

            if (response != null)
            {
                user = response;
                averageRating = user.AverageRating.ToString();
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error while loading data: {ex.Message}");
        }
    }

    private void editMode()
    {
        nonEditMode = nonEditMode ? false : true;
        successVisibility = false;
        errorVisibility = false;
        message = "";
    }

    private async Task editUserData()
    {
        successVisibility = false;
        errorVisibility = false;

        if (!Regex.IsMatch(user.PhoneNumber, @"^\d{9}$"))
        {
            message = "Wrong phone number";
            errorVisibility = true;
            return;
        }

        if (!string.IsNullOrWhiteSpace(user.Name) && !string.IsNullOrWhiteSpace(user.PhoneNumber) && !string.IsNullOrWhiteSpace(user.Surname))
        {
            UpdateUserRequest userDto = new UpdateUserRequest
            {
                Name = user.Name,
                PhoneNumber = user.PhoneNumber,
                Role = user.Role,
                Surname = user.Surname
            };

            var storageToken = await JS.InvokeAsync<string>("sessionStorage.getItem", "authToken");
            var response = await Client.UpdateUser(userDto, storageToken, user.Id);

            message = response;

            if (response.StartsWith("Success"))
            {
                successVisibility = true;
                errorVisibility = false;
                nonEditMode = true;
                await LoadUserData();
                StateHasChanged();
            }

            else
            {
                successVisibility = false;
                errorVisibility = true;
            }
        }

        else
        {
            message = "All fields must be filled";
            errorVisibility = true;
            return;
        }
    }

    private async Task deleteUser()
    {
        successVisibility = false;
        errorVisibility = false;

        bool? result = await DialogService.OpenAsync("Remove account", ds =>
        @<RadzenStack Gap="1.5rem">
            <p>Are you sure, that you want to remove your account?</p>
            <RadzenStack Orientation="Orientation.Horizontal" Gap="0.5rem" AlignItems="AlignItems.Center" JustifyContent="JustifyContent.SpaceBetween">
                <RadzenStack Orientation="Orientation.Horizontal">
            <RadzenButton Text="YES" Click="() => ds.Close(true)" Style="width: 80px !important; background-color: rgb(217,84,79) !important;" />
            <RadzenButton Text="CANCEL" Click="() => ds.Close(false)" Style="width: 80px !important;" />
                </RadzenStack>
            </RadzenStack>
        </RadzenStack>
        );

        if (result == true)
        {
            var storageToken = await JS.InvokeAsync<string>("sessionStorage.getItem", "authToken");
            var response = await Client.DeleteUserProfile(storageToken, user.Id);

            message = response;

            if (response.StartsWith("Success"))
            {
                var responseFirebase = await JS.InvokeAsync<string>("firebaseAuth.deleteFirebaseAccount");

                if (responseFirebase == "Success")
                {
                    successVisibility = false;
                    errorVisibility = false;
                    await JS.InvokeVoidAsync("sessionStorage.removeItem", "authToken");
                    NavManager.NavigateTo("/signIn");
                }

                else if (responseFirebase.Contains("requires-recent-login"))
                {
                    await DialogService.Alert("For security reasons, you must log in again before deleting your account.");
                }
            }

            else
            {
                successVisibility = false;
                errorVisibility = true;
            }
        }

        else
        {
            successVisibility = false;
            errorVisibility = false;
        }
    }
}