@page "/signUp"
@using RentalSystem.Shared.DTOs
@using RentalSystem.Client.Web.Http
@using System.Text.RegularExpressions
@inject UsersApiClient Client
@layout EmptyLayout
@inject IJSRuntime JS

<PageTitle>Zarejestruj się</PageTitle>

<div style="width: 100%; height: 100vh; display: flex; padding: 0px">
    <RadzenColumn Style="width: 60%; background-color: rgba(45, 62, 80, 100); display: flex; font-size: 30px; padding: 0px">
        <RadzenText Text="RentAThing" Style="margin: auto; width: 200px; text-align: center; color: rgb(255,255,255)" />
    </RadzenColumn>

    <RadzenColumn Style="width: 40%; display: flex; background-color: rgba(241,242,246,100); padding: 0px; visibility: visible; text-align: center">
        <RadzenColumn Style="text-align: center; display: grid; width: 250px; margin: auto">
            <RadzenText Text="@errorMessage" Visible="@errorVisibility"
                        Style="margin: auto; width: 200px; text-align: center; color: red; background-color: rgba(255, 211, 211, 100); border: 2px solid #ff0000; margin-bottom: 10px" />

            <RadzenText Text="@successMessage" Visible="@successVisibility"
                        Style="margin: auto; width: 200px; text-align: center; color: #00b600; background-color: #bcffbb; border: 2px solid #00b600; margin-bottom: 10px" />

            <RadzenText Text="Email" Style="margin: auto; width: 200px; text-align: left" />
            <RadzenTextBox Style="margin: auto; margin-top: 5px; margin-bottom: 10px; width: 200px" @bind-Value="userRequest.Email"></RadzenTextBox>

            <RadzenText Text="Name" Style="margin: auto; width: 200px; text-align: left" />
            <RadzenTextBox Style="margin: auto; margin-top: 5px; margin-bottom: 10px; width: 200px" @bind-Value="userRequest.Name"></RadzenTextBox>

            <RadzenText Text="Surname" Style="margin: auto; width: 200px; text-align: left" />
            <RadzenTextBox Style="margin: auto; margin-top: 5px; margin-bottom: 10px; width: 200px" @bind-Value="userRequest.Surname"></RadzenTextBox>

            <RadzenText Text="Password" Style="margin: auto; width: 200px; text-align: left" />
            <RadzenPassword Style="margin: auto; margin-top: 5px; margin-bottom: 10px; width: 200px" @bind-Value="password"></RadzenPassword>
            <RadzenText Text="Password needs to be at least 6 characters long." Style="font-size: 10px; width: 200px; margin: auto; text-align: left" />

            <RadzenText Text="Repeat password" Style="margin: auto; width: 200px; text-align: left" />
            <RadzenPassword Style="margin: auto; margin-top: 5px; margin-bottom: 10px; width: 200px" @bind-Value="repeatedPassword"></RadzenPassword>

            <RadzenText Text="Phone number" Style="margin: auto; width: 200px; text-align: left" />
            <RadzenTextBox Style="margin: auto; margin-top: 5px; margin-bottom: 10px; width: 200px" @bind-Value="userRequest.PhoneNumber"></RadzenTextBox>

            <RadzenButton Text="Sign up" Click="@SignUp" Style="width: 150px; display: flex; margin: auto; height: 30px; margin-top: 10px; font-style: normal; text-align: center"></RadzenButton>

            <RadzenText Style="margin-top: 15px; font-size: 13px">
                Already have an account?
                <a href="/signIn" style="color: rgba(45, 62, 80, 100)">Sign in!</a>
            </RadzenText>
        </RadzenColumn>
    </RadzenColumn>
</div>


@code {
    private CreateUserRequest userRequest = new CreateUserRequest();
    private string password = "";
    private string repeatedPassword = "";
    private string errorMessage = "";
    private bool errorVisibility = false;
    private string successMessage = "";
    private bool successVisibility = false;

    async Task SignUp()
    {
        userRequest.Uid = "";
        userRequest.Role = "";
        errorVisibility = false;
        errorMessage = "";
        successVisibility = false;

        if (!Regex.IsMatch(userRequest.Email, @"^[^@\s]+@[^@\s]+\.[^@\s]+$", RegexOptions.IgnoreCase))
        {
            ShowError("Wrong email address");
            return;
        }
        if (password.Length < 6)
        {
            ShowError("Password isn't long enough");
            return;
        }
        if (password != repeatedPassword)
        {
            ShowError("Passwords don't match");
            return;
        }
        if (!Regex.IsMatch(userRequest.PhoneNumber, @"^\d{9}$"))
        {
            ShowError("Wrong phone number");
            return;
        }

        try
        {
            var jsDefined = await JS.InvokeAsync<bool>("eval", "typeof window.firebaseAuth !== 'undefined'");
            if (!jsDefined) throw new Exception("Firebase library not loaded");

            string token = await JS.InvokeAsync<string>("firebaseAuth.register", userRequest.Email, password);
            Console.WriteLine("Firebase ID Token obtained.");

            string apiResultMessage = await Client.CreateUser(userRequest, token);

            if (apiResultMessage.StartsWith("Success"))
            {
                successMessage = apiResultMessage;
                successVisibility = true;
                ClearForm();
            }
            else
            {
                ShowError(apiResultMessage);
            }
        }
        catch (Exception ex)
        {
            string rawError = ex.InnerException?.Message ?? ex.Message;
            ShowError(ParseFirebaseError(rawError));
            Console.WriteLine("Caught Error: " + rawError);
        }
    }

    private void ShowError(string msg)
    {
        errorMessage = msg;
        errorVisibility = true;
    }

    private void ClearForm()
    {
        userRequest = new CreateUserRequest();
        password = "";
        repeatedPassword = "";
    }

    private string ParseFirebaseError(string errorCode)
    {
        if (errorCode.Contains("email-already-in-use"))
            return "Email address already in use";
        if (errorCode.Contains("weak-password"))
            return "Password is not long enough";
        if (errorCode.Contains("invalid-email"))
            return "Wrong email address";

        return $"Error: {errorCode}";
    }
}

