@inject NavigationManager NavManager


<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(EmptyLayout)">
                <NotAuthorized>
                    @{
                        NavManager.NavigateTo("/signIn");
                    }
                </NotAuthorized>
                <Authorizing>
                    <div style="display: flex; justify-content: center; align-items: center; height: 100vh;">
                        <RadzenProgressBar ProgressValue="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" Style="width: 200px" />
                    </div>
                </Authorizing>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(EmptyLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>




@* @code {
    protected override void OnInitialized()
    {
        if (NavManager.Uri.EndsWith("/"))
        {
            NavManager.NavigateTo("/signIn", true);
        }
    }
} *@
